# Copie este arquivo para .env e ajuste os valores antes de rodar
POSTGRES_USER=postgres
POSTGRES_PASSWORD=SuaSenhaPostgres
POSTGRES_DB=airflow29

BANKPY_USER=bankpy_user
BANKPY_PASSWORD=SuaSenhaApp
DATABASE_URL=postgresql+psycopg2://${BANKPY_USER}:${BANKPY_PASSWORD}@db:5432/bankpy_db

MONGO_URL=mongodb://mongodb:27017/bankpy
REDIS_URL=redis://redis:6379/0

AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=gerar_uma_fernet_key_aqui
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
