__pycache__/
*.pyc
.env
.venv/
data/
db_data/
bankpy.egg-info/
.dockerignore
venv/
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
