apache-airflow-providers-postgres
apache-airflow-providers-redis
apache-airflow-providers-mongo
apache-airflow-providers-apache-spark
apache-airflow-providers-docker

psycopg2-binary
python-dotenv
pandas
pyspark